<div class="container">
  <form (ngSubmit)="search()">
    <label class="label">Search by Username:</label>
    <div class="input-sec">
    <input name="username" class="input" type="text" placeholder="GitHub Username" [(ngModel)]="username">
    </div>
    <div class="control">
      <button class="btn btn info">Search</button>
      <button (click)="reset">Reset</button>
    </div>
  </form>
  <br>

  <nav class="panel fadein" *ngIf="user">
    <p class="panel-heading">{{ user?.name }}</p>
    <div class="panel-block">
      <div class="section">
        <div class="column is-one-third">
          <img class="image" src="{{ user?.avatar_url }}" alt="Profile Picture">
        </div>
        <div class="section2">
          <div class="tags">
            <span class="repo">{{ user?.public_repos }} Public Repos. </span>
            <span class="gists">{{ user?.public_gists }} Public Gists. </span>
            <span class="followers">{{ user?.followers }} Followers. </span>
            <span class="following">{{ user?.following }} Following. </span>
          </div>
          <div class="list">
            <ul>
              <li>Name: {{user?.login }}</li>
              <li>From: {{user?.location}}</li>
              <li>Member since: {{ user?.created_at | date: 'shortDate' }}</li>

            </ul>

          </div>


        </div>
      </div>
    </div>

    <br>
