<div class="container">
  <form (ngSubmit)="search()">
  <label class="label">Search by Username:</label>
    <div class="field has-addons">
      <div class="control has-icons-left is-expanded">
        <input name="username" class="input" type="text" placeholder="GitHub Username" [(ngModel)]="username">
        <span class="icon is-small is-left"><i class="fab fa-github"></i></span>
      </div>
      <div class="control"><button class="button is-link">Search</button></div>
      <div class="control"><button (click)="reset">Reset</button></div>
    </div>
</form>



</div>
