<div class="container">
  <form (ngSubmit)="search()">
    <label class="label">Search by Username:</label>
    <div class="input-sec">
    <input name="username" class="input" type="text" placeholder="GitHub Username" [(ngModel)]="username">
    </div>
    <div class="control">
      <button (click)="reset">Reset</button>
    </div>
    <button class="btn btn info">Search</button>
  </form>
  <br>


  <div class="postuser" *ngIf="user">
    <p class="username">{{ user?.name }}</p>
    <div class="section">
      <div class="avatar">
        <img class="image" src="{{ user?.avatar_url }}" alt="Profile Picture">
      </div>
      <div class="section2">
        <div class="tags">
          <span class="repo">{{ user?.public_repos }} Public Repos. </span>
          <span class="gists">{{ user?.public_gists }} Public Gists. </span>
          <span class="followers">{{ user?.followers }} Followers. </span>
          <span class="following">{{ user?.following }} Following. </span>
        </div>
        <div class="list">
          <ul>
            <li>Name: {{user?.login }}</li>
            <li>From: {{user?.location}}</li>
            <li>Member since: {{ user?.created_at | date: 'shortDate' }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


 <div class="container2">
    <div class="track">
      <p> Repositories:  <span class=label-label-primary >{{user?.public_repos}}</span></p>
      <p> Followers:  {{user?.followers}}</p>
      <p> Following:  {{user?.following}}</p>
   </div>
  </div>

    <strong><h3 class="panel-title">Repos</h3></strong>

    <div *ngFor ="let repo of repos">
      <div class="row">
        <div class="grid-item">
          <h4><a href="user.html_url" target="_blank">{{repo?.name}}</a></h4>
          <p>{{repo?.apiUrl}}</p>
            </div>
          </div>
        </div>

   </div>
